<div class="container">
  <p>(2,1)</p>
  <button class="gauche" (click)="goToMap11()" [disabled]="globalService.isCombatMinion21">Gauche</button>
  <button class="droite" (click)="goToMap13()" [disabled]="globalService.isCombatMinion21">Droite</button>
  <button class="droit" (click)="goToMap22()" [disabled]="globalService.isCombatMinion21">Tout droit</button>
  <button class="bas" (click)="goToMap20()" [disabled]="globalService.isCombatMinion21">Bas</button>
  <button class="chien" (click)="combatChien()" ></button>
</div>
