.background {
    background-color: black;
    justify-content: center;
}

img {
    width: 150vh;
    height: 98vh;
}

button {
    width: 100px;
    height: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 10vh;
  }