.background {
    width: 100%;
    height: 98vh;
    background-color: black;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
  }

button {
  width: 100px;
  height: 50px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.dialog {
  color: white;
  font-size: 30px;
  margin-top: 20vh;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 15vh;
}

.page {
  margin-left: 5vh;
}