<!-- <div class="container">
  <p class="textInit"> Une autre nuit qui commence, la dernière en date de nuit perpétuelle depuis la disparition du soleil.  Le passage du temps n’est plus qu’une illusion dans la noirceur étouffante.  Les griffes du sommeil vous lacèrent le fond de la tête.  Il faut recommencer, une fois de plus. </p>
  <button class="btn" (click)="goToMenu()">Entrer dans la danse</button>
</div> -->

 
<div>
  <h1>

  <span>Une autre nuit qui commence, une autre nuit perpétuelle depuis la disparition du soleil.  Le passage du temps n’est plus qu’une illusion dans la noirceur étouffante.  Les griffes du sommeil vous lacèrent le fond de la tête.</span>


<span>  <button class="btn" (click)="goToMenu()">Il faut recommencer une fois de plus.</button> </span>
</h1>  
  
</div>

