.background {
    width: 100%;
    height: 98vh;
    background-image: url('/assets/noir_combat2.jpeg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
  }

  .vie_enemy {
    font-size: 40px;
    margin-left: 82%;
    margin-top: -10px;
    padding-left: 20px;
    padding-bottom: -55px;
    color: white;
  }

  .vie_player {
    font-size: 40px;
    margin-left: 5%;
    margin-top: -7%;
    color: white;
  }

  .vie-player .sans-rouge {
    font-size: 40px;
  }

  .rouge {
    color: red;
  }

  .enemy {
    height: 66%;
    border: 4px solid white;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
  }
  .enemy img {
    max-width: 120vh;
    max-height: 120vh;
    margin-top: -15vh;
    margin-left: 70vh;
  }

  .actions {
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-self: baseline;
  }

  button {
    font-size: 35px;
    margin-top: 5%;
    margin-left: 15px;
    background-color: transparent;
    display: block;
    color: white;
    border-radius: 10px;
    width: 350px;
    cursor: pointer;
  }

  .button-action{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: baseline;

  }

  img .shake {
    visibility: hidden;
  }

 .dialogue{
  background-color: white;
  align-self: flex-end;
  border: 4px solid white;
  margin-bottom: 40px;
  font-size: 20px;
 }



