<div class="background">
  <div class="enemy">


    <div class="vie_enemy">
      <p>PV : {{currentEnemy.currentHealth}}/{{currentEnemy.maxHealth}}</p>
    </div>
    <img src={{currentEnemy.combatImageUrl}} *ngIf="playerAttacking === false">
    <img src="/assets/Tachedesang.png" *ngIf="playerAttacking === true">
    <div class="vie_player">
      <p class="sans-rouge" *ngIf="enemyAttacking === false">PV : {{player.currentHealth}}/{{player.maxHealth}}</p>
      <p class="rouge" *ngIf="enemyAttacking === true">PV : {{player.currentHealth}}/{{player.maxHealth}}</p>
    </div>
  </div>
  <div class="actions">

    <div class="button-action"> <button (click)="attackEnemy()" [disabled]="playerTurnCheck()">Attaquer</button>
    <button (click)="defense()" [disabled]="playerTurnCheck()">Défendre</button>
    <button (click)="defense()" [disabled]="playerTurnCheck()">Changer d'arme</button>
    </div>


  </div>
 <div class="dialogue" *ngIf="this._globalService.superAttack"> {{currentEnemy.name}} : I'm chargin my lazer !</div>
 <div class="dialogue" *ngIf="this._globalService.deathTraitor"> {{currentEnemy.name}} : Arg, mais quel fin insipide pour un homme distingué</div>
 <div class="dialogue" *ngIf="this._globalService.deathFriendly"> {{currentEnemy.name}} : Je ne t'abbandonerais jamais chère Élisabeth</div>
 <div class="dialogue" *ngIf="this._globalService.superAttack"> {{currentEnemy.name}} : I'm chargin my lazer !</div>

</div>






