<div class="background">
  <div class="enemy">
    <div class="vie_enemy">
      <p>PV : {{currentEnemy.currentHealth}}/{{currentEnemy.maxHealth}}</p>
    </div>
    <img src={{currentEnemy.imageUrl}}>
    <div class="vie_player">
      <p>PV : {{player.currentHealth}}/{{player.maxHealth}}</p>
    </div>
  </div>
  <div class="actions">
    <button (click)="attackEnemy()" [disabled]="playerTurnCheck()">Attaquer</button>
    <button (click)="defense()" [disabled]="playerTurnCheck()">Défendre</button>
  </div>
</div>






